#main {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

.btn-container {
  margin-bottom: 20px;

}

.btn-container button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: aqua;
}
.btn-container button:hover {
  background-color: #ddd;
}
.btn-container button.active {
  background-color: #333;
  color: white;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.menu-item img {
  width: 100%;
  height: auto;
}
